/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

head {
    @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap')
}

body {
    margin: 0px;
    font-family: 'Abel', sans-serif;
}

header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: #FFE4E1;
    padding-top: 40px;
    padding-bottom: 40px;
}

header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#homework {
    background-color: #9ACD32;
    padding-top: 40px;
    padding-bottom: 40px;
}

header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#lectures {
    background-color: #AFEEEE;
    padding-top: 40px;
    padding-bottom: 40px;
}

header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#tutorials {
    background-color: #FFF8DC;
    padding-top: 40px;
    padding-bottom: 40px;
}